extends layout

block content
  section.get
  a(href='/register') Registration
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/registerinput')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='Vehicle Make') Make:
            input#vehiclemake.form-control(type='text', placeholder='Vehicle Make' name='Vehicle Make')
          div.form-group
            label(for='Vehicle Vin #') Vehicle:
            input#vehiclevin.form-control(type='text', placeholder='Vehicle Vin #' name='Vehicle Vin #')
          div.form-group
            label(for='Model/Engine Litre') Model/Engine Litre:
            input#model-enginelitre.form-control(type='text', placeholder='Model/Engine Litre' name='model/engine litre')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')
          div.form-group
            label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password' name='confirmPassword')
          button.btn.btn-primary(type='submit') Sign up
